.dock{
    position: fixed;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: content-box;

    padding: 10px;
    padding-bottom: 6px;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(8px);

    box-shadow: 0 0 6px rgb(255, 255, 255, .2) inset;
    border: 1px solid rgb(255, 255, 255, .2);

    height: 58px;
    display: flex;
    align-items: flex-end;
    gap: 12px;
}