.dock-area {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.dock {
    border-radius: 14px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid rgba(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, .1);
    width: auto;
    height: 54px;
    display: flex;
    align-items: flex-end;
}

.dock-container {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
}

.dock-app {
    height: 38px;
    width: 38px;
    background: rgba(255,255,255, 1);
    border-radius: 8px;
    flex-shrink: 0;
}
