.header {
    position: fixed;
    top: 1rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    height: 3rem;
    width: 100%;
}

.header-menu-bar {
    border-radius: 1.25rem;
    backdrop-filter: blur(24px);
    background-color: rgba(255, 255, 255, .2);
}

.header-left-menu-bar {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right-menu-bar {
    padding: 0 1.25rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}
